/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "leaflet/dist/leaflet.css";
:host {
  display: block; /* Esto es súper importante para que el fondo abarque todo el ancho */
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  min-height: 100vh;
}
